<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password - ToDo App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/allmessage.css') }}">
    <script src="{{ url_for('static', filename='javascript/allmessage.js')}}"></script>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='pic/favicon.PNG') }}">

</head>
<body>
<div class="auth-container">
    <h2>Reset Password</h2>

    <div class="message" justify-self="center">
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
          <div class="flash-messages">
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
          </div>
        {% endif %}
        {% endwith %}
      </div>
        <form method="POST">
            <input type="Password" name="password" placeholder="Create password" autocomplete="off" required>
            <input type="Password" name="cpassword" placeholder="Re-type password" autocomplete="off" required>
            <button type="submit">Reset Password</button>
        </form>
        <p><a href="{{ url_for('login') }}">Back to Login</a></p>
    </div>
</body>
</html>
